h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
    box-shadow: 10px;
    border: 30px solid rgb(225, 166, 57);
    text-align: center;
    background-color: rgb(36, 36, 87);
    color: white;
    max-width: fit-content;
}

body {
    border: 1px solid black;
    padding: 30px;
    background: linear-gradient(135deg, #000 0%, #999 100%);
}

#pan {
    color: rgb(233, 245, 233);
    font-size: larger;
}

h1 {
    color: blue;
}