header {
    text-align: center;
    background-color: purple;
    border: 2px solid black;
    box-shadow: 5px;
    padding: 4px;
}

section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

article {
    background-color: aqua;
    border: 1px solid black;
    margin: 5px auto;
    padding: 3px;
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 2px;
    font-size: large;
}